<p style="color: green"><%= notice %></p>

<section class="vh-150  py-5 " >
  <div class="container py-5 h-100 " >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-9">
        <div class="card rounded-3 transparent">
          <div class="card-body p-4 ">
            <h1 class="text-center my-3 pb-3"> Categories </h1>
              <div>
                <%= link_to "Create Category", new_category_path, class: "btn btn-success"%>           
                <div>
                  <div >
                    <table class=" table mb-1 col col-lg-9">                          
                            <% @categories.each do |category| %>
                            <%= render category %>
                            <p>
                              
                            </p>
                          <% end %> 
                          

                    </table>
                  </div>
                </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
