

<div class ="diamond mt-5">

<div class="dia">

    <%= image_tag ("me.jpg")%>
</div>
</div>
<div class="#">
<h1>About</h1>

<section>
    <p>Hi, I'm Cristian. I'm a Support Engineer  who loves to programming in Ruby and Python.
        I created this Blog based on Ruby on Rails as a funny super challenge exercise!!
        Now I'm able to share my own Ruby content, get colaboration from other users posts
         and improve my new features on this application!!  </p>
</section>

<section>

</section>
<div>
