.button{

    display: block;
    float: left;
    margin-right: 6px;
    margin: 0 auto;
    
}
.create {
    display: block;    
    margin-left: 25%;
    
}

.link:active{
    color: white;
}
.link:hover{
    color: white;
}
.link:visited{
    color: white;
   

}
.link{
    text-decoration: none;
}

.text-area{
    
}