<%= form_with(model: todo) do |form| %>
  <div>
      <form class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2">
        <div class="col-12">
          <div class="form-outline">
            <%= form.text_field :name, class: "form-control"%>
            
            <label class="form-label" for="form1">Enter a task here</label>
          </div>
        </div>
        <div class="col-12" >          
          <%= button_to "Create3", new_todo_path, method: :get, class: "btn-primary" %>               
        </div>
        <div class="col-12 button">
          <%= form.submit "Search", method: :new, class: "btn btn-primary" %>          
        </div>


      </form>  
  </div>

<% end %>
