<body >     
  <div class = "todo">
    <article class="line">  
      <p class = "name"><%= link_to todo.name, todo %></p>
      <div style= "delete">
        <%= button_to "Delete", todo, method: :delete, class: "btn btn-danger"%>
      <div>
    <article>
  </div>
</body>