

.diamond, .dia {
 margin: 0 auto;
 transform-origin: 50% 50%;
 overflow: hidden;
 width: 300px;
 height: 300px;
 margin-bottom: 20%;
}
.diamond {
 transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.diamond .dia {
 width: 380px;
 height: 380px;
 transform: rotate(-45deg);
}
.diamond img {
 width: 100%;
 height: auto;
}


@keyframes slideInFromLeft {
    0% {
        
        transform: translateX(-25%);
        opacity: 0.4;
    }
    100% {
        
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  .slideAboutFromLeft {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
    
    margin-bottom: 5%;
    
  }


/*----------------------------------------------------------------    */
  @keyframes slideInFromRight {
    0% {
        transform: translateX(25%);
        opacity: 0.4;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  .slideAboutFromRight{
    animation: 1s ease-out 0s 1 slideInFromRight;
    
    margin-top: 5%;
  }


  .contactIcons{
    width: 4%;
    margin-right: 10px;  
  }
