

.diamond, .dia {
 margin: 0 auto;
 transform-origin: 50% 50%;
 overflow: hidden;
 width: 300px;
 height: 300px;
}
.diamond {
 transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.diamond .dia {
 width: 380px;
 height: 380px;
 transform: rotate(-45deg);
}
.diamond img {
 width: 100%;
 height: auto;
}
