.blog-card {
    margin-top: 20px;
    background-color: #ebebeb;
    padding: 12px 34px;
    padding-top: 12px;
    padding-right: 34px;
    padding-bottom: 12px;
    padding-left: 34px;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;

}


.link-title {
    text-decoration: none;

}
.link-title:hover{
    text-decoration: none;
}
.link-content{
    
    text-decoration: none;
    color: rgba(20, 19, 19, 0.767);
}
 .link-content:hover{
        
    color: black;
    text-decoration: none;
}
    
.link-all-blogs{
    
    text-decoration: none;
    color: white;

}
.link-all-blogs:hover{
    color: rgb(224, 222, 222);
    text-decoration: none;
    
}
.align-center{
    text-align: center;
    margin-top: 1rem;
}

.creator-img{

    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 2px lightblue solid;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.align-img-name{
    display:inline-flex;
    vertical-align: middle;
    align-items: center;
}
.name{
   
    margin-left: 1rem;
    
}